doctype html
html(lang="en")
  head
    title TempSHOT
  body
    form#uploadForm(enctype='multipart/form-data', action='/upload', method='post')
      input(type='file', name='shot')
    script(src='//code.jquery.com/jquery-1.11.0.min.js')
    script(type='text/javascript')
      $(function() {
      $("input:file").change(function (){
      $("input").parent().submit();
      });
      });