doctype html
html
  head
    title TEMPSHOT
    block head
  body
    header
        h1 TEMPSHOT
    #content
      block content
    footer
        ul
            li
                a(href="https://github.com/kamil/tempshot") github